USE [master]
GO
/****** Object:  Database [CinemaDB]    Script Date: 01-12-2025 5:35:34 CH ******/
CREATE DATABASE [CinemaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CinemaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CinemaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CinemaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CinemaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CinemaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CinemaDB]
GO
/****** Object:  Table [dbo].[Ca_Chieu]    Script Date: 01-12-2025 5:35:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ca_Chieu](
	[ca_chieu_id] [int] IDENTITY(1,1) NOT NULL,
	[gio_bat_dau] [time](7) NOT NULL,
	[gio_ket_thuc] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ca_chieu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chi_Tiet_De_Xuat_Khuyen_Mai]    Script Date: 01-12-2025 5:35:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chi_Tiet_De_Xuat_Khuyen_Mai](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[de_xuat_id] [int] NOT NULL,
	[do_an_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chi_Tiet_Phieu_Nhap]    Script Date: 01-12-2025 5:35:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chi_Tiet_Phieu_Nhap](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[phieu_nhap_id] [int] NOT NULL,
	[do_an_id] [int] NOT NULL,
	[so_luong_nhap] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Danh_Gia]    Script Date: 01-12-2025 5:35:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Danh_Gia](
	[Danh_Gia_id] [int] IDENTITY(1,1) NOT NULL,
	[ve_id] [int] NOT NULL,
	[khach_hang_id] [int] NOT NULL,
	[phim_id] [int] NOT NULL,
	[noi_dung] [nvarchar](max) NULL,
	[diem_rating] [int] NULL,
	[ngay_Danh_Gia] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Danh_Gia_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dao_Dien]    Script Date: 01-12-2025 5:35:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dao_Dien](
	[daodien_id] [int] IDENTITY(1,1) NOT NULL,
	[ho_ten] [nvarchar](200) NULL,
	[ngay_sinh] [date] NULL,
	[quoc_tich] [nvarchar](100) NULL,
	[tieu_su] [nvarchar](max) NULL,
	[hinh_anh] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[daodien_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dat_Ve]    Script Date: 01-12-2025 5:35:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dat_Ve](
	[Dat_Ve_id] [int] IDENTITY(1,1) NOT NULL,
	[khach_hang_id] [int] NOT NULL,
	[nhan_vien_id] [int] NULL,
	[ngay_tao] [datetime2](7) NULL,
	[tong_tien] [decimal](10, 2) NOT NULL,
	[trang_thai_Dat_Ve] [nvarchar](50) NOT NULL,
	[ma_giam_gia_id] [int] NULL,
	[phuong_thuc_thanh_toan] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Dat_Ve_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dien_Vien]    Script Date: 01-12-2025 5:35:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dien_Vien](
	[dienvien_id] [int] IDENTITY(1,1) NOT NULL,
	[ho_ten] [nvarchar](200) NULL,
	[gioi_tinh] [nvarchar](10) NULL,
	[nghe_danh] [nvarchar](200) NULL,
	[ngay_sinh] [date] NULL,
	[quoc_tich] [nvarchar](100) NULL,
	[tieu_su] [nvarchar](max) NULL,
	[hinh_anh] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[dienvien_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Do_An]    Script Date: 01-12-2025 5:35:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Do_An](
	[Do_An_id] [int] IDENTITY(1,1) NOT NULL,
	[ten_san_pham] [nvarchar](200) NULL,
	[mo_ta] [nvarchar](max) NULL,
	[loai] [nvarchar](50) NULL,
	[gia] [decimal](12, 2) NULL,
	[trang_thai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Do_An_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang_DoAn]    Script Date: 01-12-2025 5:35:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang_DoAn](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Dat_Ve_id] [int] NOT NULL,
	[Do_An_id] [int] NOT NULL,
	[so_luong] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ghe]    Script Date: 01-12-2025 5:35:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ghe](
	[ghe_id] [int] IDENTITY(1,1) NOT NULL,
	[phong_chieu_id] [int] NOT NULL,
	[so_ghe] [nvarchar](10) NOT NULL,
	[hang] [int] NOT NULL,
	[cot] [int] NOT NULL,
	[loai_ghe_id] [int] NOT NULL,
	[trang_thai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ghe_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HuyVe]    Script Date: 01-12-2025 5:35:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HuyVe](
	[yeu_cau_id] [int] IDENTITY(1,1) NOT NULL,
	[dat_ve_id] [int] NOT NULL,
	[ly_do_huy] [nvarchar](max) NULL,
	[so_tien_hoan_lai] [decimal](18, 2) NULL,
	[phan_tram_hoan] [decimal](5, 2) NULL,
	[trang_thai] [nvarchar](50) NULL,
	[ngay_tao] [datetime] NULL,
	[ngay_duyet] [datetime] NULL,
	[admin_duyet_id] [int] NULL,
	[ghi_chu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[yeu_cau_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khach_Hang]    Script Date: 01-12-2025 5:35:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khach_Hang](
	[khach_hang_id] [int] IDENTITY(1,1) NOT NULL,
	[ho_ten] [nvarchar](255) NOT NULL,
	[email] [nvarchar](100) NULL,
	[so_dien_thoai] [nvarchar](20) NULL,
	[mat_khau] [nvarchar](100) NULL,
	[ngay_dang_ky] [datetime2](7) NULL,
	[diem_tich_luy] [int] NULL,
	[ngay_sinh] [date] NULL,
	[gioi_tinh] [nvarchar](10) NULL,
	[dia_chi] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[khach_hang_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kho_Do_An]    Script Date: 01-12-2025 5:35:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kho_Do_An](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rap_id] [int] NOT NULL,
	[Do_An_id] [int] NOT NULL,
	[so_luong_ton] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khuyen_Mai]    Script Date: 01-12-2025 5:35:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khuyen_Mai](
	[ma_giam_gia_id] [int] IDENTITY(1,1) NOT NULL,
	[loai_giam_gia] [nvarchar](50) NOT NULL,
	[gia_tri_giam] [decimal](10, 2) NOT NULL,
	[ngay_bat_dau] [date] NOT NULL,
	[ngay_ket_thuc] [date] NOT NULL,
	[trang_thai] [nvarchar](50) NOT NULL,
	[so_luong_ban_dau] [int] NULL,
	[so_luong_con_lai] [int] NULL,
	[mo_ta] [nvarchar](max) NULL,
	[ma_khuyen_mai] [nvarchar](50) NULL,
	[pham_vi_ap_dung] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_giam_gia_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khuyen_Mai_Do_An]    Script Date: 01-12-2025 5:35:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khuyen_Mai_Do_An](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_giam_gia_id] [int] NOT NULL,
	[do_an_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loai_Ghe]    Script Date: 01-12-2025 5:35:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loai_Ghe](
	[loaighe_id] [int] IDENTITY(1,1) NOT NULL,
	[ten_loai] [nvarchar](100) NULL,
	[phu_phi] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[loaighe_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loai_Ngay]    Script Date: 01-12-2025 5:35:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loai_Ngay](
	[loai_ngay_id] [int] IDENTITY(1,1) NOT NULL,
	[loai_ngay] [nvarchar](50) NOT NULL,
	[phu_phi] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[loai_ngay_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loai_Phim]    Script Date: 01-12-2025 5:35:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loai_Phim](
	[loaiphim_id] [int] IDENTITY(1,1) NOT NULL,
	[ten_loai] [nvarchar](100) NULL,
	[mo_ta] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[loaiphim_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nha_Cung_Cap]    Script Date: 01-12-2025 5:35:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nha_Cung_Cap](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten_nha_cung_cap] [nvarchar](255) NOT NULL,
	[so_dien_thoai] [nvarchar](20) NULL,
	[email] [nvarchar](100) NULL,
	[dia_chi] [nvarchar](max) NULL,
	[trang_thai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nha_San_Xuat]    Script Date: 01-12-2025 5:35:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nha_San_Xuat](
	[nha_san_xuat_id] [int] IDENTITY(1,1) NOT NULL,
	[ten_nha_san_xuat] [nvarchar](255) NOT NULL,
	[quoc_gia] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[nha_san_xuat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nhan_Vien]    Script Date: 01-12-2025 5:35:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nhan_Vien](
	[nhanvien_id] [int] IDENTITY(1,1) NOT NULL,
	[ho_ten] [nvarchar](200) NULL,
	[ngay_sinh] [date] NULL,
	[gioi_tinh] [nvarchar](10) NULL,
	[so_dien_thoai] [nvarchar](20) NULL,
	[email] [nvarchar](150) NULL,
	[dia_chi] [nvarchar](max) NULL,
	[role_id] [int] NULL,
	[ngay_vao_lam] [date] NULL,
	[trang_thai] [nvarchar](20) NULL,
	[mat_khau] [nvarchar](255) NOT NULL,
	[rap_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[nhanvien_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phieu_De_Xuat_Khuyen_Mai]    Script Date: 01-12-2025 5:35:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phieu_De_Xuat_Khuyen_Mai](
	[de_xuat_id] [int] IDENTITY(1,1) NOT NULL,
	[nhan_vien_id] [int] NOT NULL,
	[rap_id] [int] NOT NULL,
	[muc_giam_gia] [int] NOT NULL,
	[so_luong_ton] [int] NULL,
	[ly_do] [nvarchar](max) NULL,
	[trang_thai] [nvarchar](50) NULL,
	[ngay_tao] [datetime] NULL,
	[ngay_duyet] [datetime] NULL,
	[ghi_chu_quan_ly] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[de_xuat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phieu_Nhap]    Script Date: 01-12-2025 5:35:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phieu_Nhap](
	[phieu_nhap_id] [int] IDENTITY(1,1) NOT NULL,
	[nhan_vien_id] [int] NOT NULL,
	[rap_id] [int] NOT NULL,
	[ngay_nhap] [datetime] NULL,
	[ghi_chu] [nvarchar](max) NULL,
	[trang_thai] [nvarchar](50) NULL,
	[nha_cung_cap_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[phieu_nhap_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phim]    Script Date: 01-12-2025 5:35:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phim](
	[phim_id] [int] IDENTITY(1,1) NOT NULL,
	[ten_phim] [nvarchar](255) NOT NULL,
	[dao_dien_id] [int] NULL,
	[nha_san_xuat_id] [int] NULL,
	[thoi_luong] [int] NULL,
	[mo_ta] [nvarchar](max) NULL,
	[hinh_anh] [nvarchar](255) NULL,
	[video] [nvarchar](255) NULL,
	[ngay_khoi_chieu] [date] NULL,
	[trang_thai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[phim_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phim_LoaiPhim]    Script Date: 01-12-2025 5:35:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phim_LoaiPhim](
	[phim_id] [int] NOT NULL,
	[loaiphim_id] [int] NOT NULL,
 CONSTRAINT [PK_Phim_LoaiPhim] PRIMARY KEY CLUSTERED 
(
	[phim_id] ASC,
	[loaiphim_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong_Chieu]    Script Date: 01-12-2025 5:35:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong_Chieu](
	[phong_chieu_id] [int] IDENTITY(1,1) NOT NULL,
	[rap_id] [int] NOT NULL,
	[ten_phong] [nvarchar](50) NOT NULL,
	[so_hang] [int] NOT NULL,
	[so_cot] [int] NOT NULL,
	[suc_chua] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[phong_chieu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rap]    Script Date: 01-12-2025 5:35:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rap](
	[rap_id] [int] IDENTITY(1,1) NOT NULL,
	[ten_rap] [nvarchar](255) NOT NULL,
	[dia_chi] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[mo_ta] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[rap_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 01-12-2025 5:35:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[ten_role] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suat_Chieu]    Script Date: 01-12-2025 5:35:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suat_Chieu](
	[suat_chieu_id] [int] IDENTITY(1,1) NOT NULL,
	[phim_id] [int] NOT NULL,
	[phong_chieu_id] [int] NOT NULL,
	[ca_chieu_id] [int] NOT NULL,
	[ngay_chieu] [date] NOT NULL,
	[loai_ngay_id] [int] NOT NULL,
	[ngon_ngu] [nvarchar](50) NULL,
	[gia_ve] [decimal](10, 2) NOT NULL,
	[trang_thai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[suat_chieu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vai_Dien]    Script Date: 01-12-2025 5:35:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vai_Dien](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dien_vien_id] [int] NULL,
	[phim_id] [int] NULL,
	[ten_vai_dien] [nvarchar](200) NULL,
	[hinh_anh] [nvarchar](255) NULL,
	[mo_ta] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ve]    Script Date: 01-12-2025 5:35:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ve](
	[ve_id] [int] IDENTITY(1,1) NOT NULL,
	[ghe_id] [int] NOT NULL,
	[Dat_Ve_id] [int] NULL,
	[suat_chieu_id] [int] NOT NULL,
	[ma_qr_code] [nvarchar](255) NULL,
	[trang_thai_ve] [nvarchar](50) NOT NULL,
	[gia_ve] [decimal](10, 2) NOT NULL,
	[trang_thai_thanh_toan] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ve_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Ca_Chieu] ON 

INSERT [dbo].[Ca_Chieu] ([ca_chieu_id], [gio_bat_dau], [gio_ket_thuc]) VALUES (1, CAST(N'18:00:00' AS Time), CAST(N'20:30:00' AS Time))
INSERT [dbo].[Ca_Chieu] ([ca_chieu_id], [gio_bat_dau], [gio_ket_thuc]) VALUES (2, CAST(N'15:00:00' AS Time), CAST(N'17:30:00' AS Time))
INSERT [dbo].[Ca_Chieu] ([ca_chieu_id], [gio_bat_dau], [gio_ket_thuc]) VALUES (3, CAST(N'08:00:00' AS Time), CAST(N'10:30:00' AS Time))
SET IDENTITY_INSERT [dbo].[Ca_Chieu] OFF
GO
SET IDENTITY_INSERT [dbo].[Chi_Tiet_De_Xuat_Khuyen_Mai] ON 

INSERT [dbo].[Chi_Tiet_De_Xuat_Khuyen_Mai] ([id], [de_xuat_id], [do_an_id]) VALUES (1, 1, 1)
INSERT [dbo].[Chi_Tiet_De_Xuat_Khuyen_Mai] ([id], [de_xuat_id], [do_an_id]) VALUES (2, 1, 2)
INSERT [dbo].[Chi_Tiet_De_Xuat_Khuyen_Mai] ([id], [de_xuat_id], [do_an_id]) VALUES (3, 1, 4)
SET IDENTITY_INSERT [dbo].[Chi_Tiet_De_Xuat_Khuyen_Mai] OFF
GO
SET IDENTITY_INSERT [dbo].[Chi_Tiet_Phieu_Nhap] ON 

INSERT [dbo].[Chi_Tiet_Phieu_Nhap] ([id], [phieu_nhap_id], [do_an_id], [so_luong_nhap]) VALUES (1, 1, 1, 20)
INSERT [dbo].[Chi_Tiet_Phieu_Nhap] ([id], [phieu_nhap_id], [do_an_id], [so_luong_nhap]) VALUES (2, 1, 2, 10)
INSERT [dbo].[Chi_Tiet_Phieu_Nhap] ([id], [phieu_nhap_id], [do_an_id], [so_luong_nhap]) VALUES (3, 1, 3, 10)
SET IDENTITY_INSERT [dbo].[Chi_Tiet_Phieu_Nhap] OFF
GO
SET IDENTITY_INSERT [dbo].[Danh_Gia] ON 

INSERT [dbo].[Danh_Gia] ([Danh_Gia_id], [ve_id], [khach_hang_id], [phim_id], [noi_dung], [diem_rating], [ngay_Danh_Gia]) VALUES (3, 8, 1, 3, N'Phim hay quá', 5, CAST(N'2025-11-05T21:13:35.7858758' AS DateTime2))
INSERT [dbo].[Danh_Gia] ([Danh_Gia_id], [ve_id], [khach_hang_id], [phim_id], [noi_dung], [diem_rating], [ngay_Danh_Gia]) VALUES (4, 8, 1, 3, N'[AdminReply][ParentID:3] Cám ơn bạn', NULL, CAST(N'2025-11-05T23:12:55.6595470' AS DateTime2))
INSERT [dbo].[Danh_Gia] ([Danh_Gia_id], [ve_id], [khach_hang_id], [phim_id], [noi_dung], [diem_rating], [ngay_Danh_Gia]) VALUES (9, 174, 1, 5, N'Phim hay ghê', 5, CAST(N'2025-11-14T19:54:55.4499062' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Danh_Gia] OFF
GO
SET IDENTITY_INSERT [dbo].[Dao_Dien] ON 

INSERT [dbo].[Dao_Dien] ([daodien_id], [ho_ten], [ngay_sinh], [quoc_tich], [tieu_su], [hinh_anh]) VALUES (1, N'Christopher Nolan', CAST(N'1970-07-30' AS Date), N'Anh', NULL, N'https://cdn.britannica.com/37/255737-050-9BB3FEDA/Christopher-Nolan-Movie-film-director-Oppenheimer-UK-premiere-2023.jpg')
INSERT [dbo].[Dao_Dien] ([daodien_id], [ho_ten], [ngay_sinh], [quoc_tich], [tieu_su], [hinh_anh]) VALUES (2, N'Frank Darabont', CAST(N'1959-01-28' AS Date), N'Mỹ', NULL, N'https://images.cinefil.com/stars/1139787.webp')
INSERT [dbo].[Dao_Dien] ([daodien_id], [ho_ten], [ngay_sinh], [quoc_tich], [tieu_su], [hinh_anh]) VALUES (3, N'Francis Ford Coppola', CAST(N'1939-04-07' AS Date), N'Mỹ', NULL, N'https://www.indiewire.com/wp-content/uploads/2024/10/GettyImages-2171066640.jpg?w=3000&h=1687&crop=1')
SET IDENTITY_INSERT [dbo].[Dao_Dien] OFF
GO
SET IDENTITY_INSERT [dbo].[Dat_Ve] ON 

INSERT [dbo].[Dat_Ve] ([Dat_Ve_id], [khach_hang_id], [nhan_vien_id], [ngay_tao], [tong_tien], [trang_thai_Dat_Ve], [ma_giam_gia_id], [phuong_thuc_thanh_toan]) VALUES (1, 1, 1, CAST(N'2025-11-04T12:26:22.0733333' AS DateTime2), CAST(132000.00 AS Decimal(10, 2)), N'Đã Thanh toán', 1, NULL)
INSERT [dbo].[Dat_Ve] ([Dat_Ve_id], [khach_hang_id], [nhan_vien_id], [ngay_tao], [tong_tien], [trang_thai_Dat_Ve], [ma_giam_gia_id], [phuong_thuc_thanh_toan]) VALUES (2, 1, NULL, CAST(N'2025-11-05T09:22:24.2212398' AS DateTime2), CAST(40.00 AS Decimal(10, 2)), N'Đã Hủy', NULL, NULL)
INSERT [dbo].[Dat_Ve] ([Dat_Ve_id], [khach_hang_id], [nhan_vien_id], [ngay_tao], [tong_tien], [trang_thai_Dat_Ve], [ma_giam_gia_id], [phuong_thuc_thanh_toan]) VALUES (3, 1, NULL, CAST(N'2025-11-05T09:24:29.0145484' AS DateTime2), CAST(0.00 AS Decimal(10, 2)), N'Đã Hủy', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Dat_Ve] OFF
GO
SET IDENTITY_INSERT [dbo].[Dien_Vien] ON 

INSERT [dbo].[Dien_Vien] ([dienvien_id], [ho_ten], [gioi_tinh], [nghe_danh], [ngay_sinh], [quoc_tich], [tieu_su], [hinh_anh]) VALUES (1, N'Tim Robbins', NULL, NULL, CAST(N'1958-10-16' AS Date), N'Mỹ', NULL, N'https://tse1.mm.bing.net/th/id/OIP.GkiMkhhJLBrODJTXT9lIeAHaKP?pid=Api&P=0&h=180')
INSERT [dbo].[Dien_Vien] ([dienvien_id], [ho_ten], [gioi_tinh], [nghe_danh], [ngay_sinh], [quoc_tich], [tieu_su], [hinh_anh]) VALUES (2, N'Marlon Brando', NULL, NULL, CAST(N'1924-04-03' AS Date), N'Mỹ', NULL, N'https://hips.hearstapps.com/hmg-prod/images/gettyimages-527187002-square.jpg?resize=1200:*')
INSERT [dbo].[Dien_Vien] ([dienvien_id], [ho_ten], [gioi_tinh], [nghe_danh], [ngay_sinh], [quoc_tich], [tieu_su], [hinh_anh]) VALUES (3, N'Al Pacino', NULL, NULL, CAST(N'1940-04-25' AS Date), N'Mỹ', NULL, N'https://static1.srcdn.com/wordpress/wp-content/uploads/2022/03/The-Godfather-Michael-Corleone-Al-Pacino.jpg')
SET IDENTITY_INSERT [dbo].[Dien_Vien] OFF
GO
SET IDENTITY_INSERT [dbo].[Do_An] ON 

INSERT [dbo].[Do_An] ([Do_An_id], [ten_san_pham], [mo_ta], [loai], [gia], [trang_thai]) VALUES (1, N'Bắp rang bơ', N'Bắp rang bơ thơm ngon trọn vị ', N'Đồ ăn', CAST(40000.00 AS Decimal(12, 2)), N'Đang kinh doanh')
INSERT [dbo].[Do_An] ([Do_An_id], [ten_san_pham], [mo_ta], [loai], [gia], [trang_thai]) VALUES (2, N'Pepsi', N'Nước ngọt đóng chai', N'Đồ uống', CAST(15000.00 AS Decimal(12, 2)), N'Đang kinh doanh')
INSERT [dbo].[Do_An] ([Do_An_id], [ten_san_pham], [mo_ta], [loai], [gia], [trang_thai]) VALUES (3, N'Combo Bắp Rang và Pepsi', N'Combo sale tại rạp ', N'Combo', CAST(55000.00 AS Decimal(12, 2)), N'Đang kinh doanh')
SET IDENTITY_INSERT [dbo].[Do_An] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHang_DoAn] ON 

INSERT [dbo].[DonHang_DoAn] ([id], [Dat_Ve_id], [Do_An_id], [so_luong]) VALUES (1, 1, 1, 1)
INSERT [dbo].[DonHang_DoAn] ([id], [Dat_Ve_id], [Do_An_id], [so_luong]) VALUES (2, 2, 1, 1)
INSERT [dbo].[DonHang_DoAn] ([id], [Dat_Ve_id], [Do_An_id], [so_luong]) VALUES (3, 4, 1, 1)
SET IDENTITY_INSERT [dbo].[DonHang_DoAn] OFF
GO
SET IDENTITY_INSERT [dbo].[Ghe] ON 

INSERT [dbo].[Ghe] ([ghe_id], [phong_chieu_id], [so_ghe], [hang], [cot], [loai_ghe_id], [trang_thai]) VALUES (2, 2, N'A1', 0, 0, 1, 2)
INSERT [dbo].[Ghe] ([ghe_id], [phong_chieu_id], [so_ghe], [hang], [cot], [loai_ghe_id], [trang_thai]) VALUES (3, 2, N'A2', 0, 1, 1, 2)
INSERT [dbo].[Ghe] ([ghe_id], [phong_chieu_id], [so_ghe], [hang], [cot], [loai_ghe_id], [trang_thai]) VALUES (4, 2, N'A3', 0, 2, 1, 2)
GO
SET IDENTITY_INSERT [dbo].[Ghe] OFF
GO
SET IDENTITY_INSERT [dbo].[Khach_Hang] ON 

INSERT [dbo].[Khach_Hang] ([khach_hang_id], [ho_ten], [email], [so_dien_thoai], [mat_khau], [ngay_dang_ky], [diem_tich_luy], [ngay_sinh], [gioi_tinh], [dia_chi]) VALUES (1, N'Lê Minh Khách', N'leminh@example.com', N'0909111222', N'240be518fabd2724ddb6f04eeb1da5967448d7e831c08c8fa822809f74c720a9', CAST(N'2025-11-04T12:26:22.0733333' AS DateTime2), 32, NULL, NULL, NULL)
INSERT [dbo].[Khach_Hang] ([khach_hang_id], [ho_ten], [email], [so_dien_thoai], [mat_khau], [ngay_dang_ky], [diem_tich_luy], [ngay_sinh], [gioi_tinh], [dia_chi]) VALUES (2, N'Nguyễn Duy Ân', N'duyan@gmail.com', N'0388041884', N'240be518fabd2724ddb6f04eeb1da5967448d7e831c08c8fa822809f74c720a9', CAST(N'2025-11-06T15:04:51.8012748' AS DateTime2), 0, NULL, NULL, NULL)
INSERT [dbo].[Khach_Hang] ([khach_hang_id], [ho_ten], [email], [so_dien_thoai], [mat_khau], [ngay_dang_ky], [diem_tich_luy], [ngay_sinh], [gioi_tinh], [dia_chi]) VALUES (4, N'Nguyễn Vắn An', NULL, N'0388093371', NULL, NULL, 0, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Khach_Hang] OFF
GO
SET IDENTITY_INSERT [dbo].[Kho_Do_An] ON 

INSERT [dbo].[Kho_Do_An] ([id], [rap_id], [Do_An_id], [so_luong_ton]) VALUES (1, 1, 1, 30)
INSERT [dbo].[Kho_Do_An] ([id], [rap_id], [Do_An_id], [so_luong_ton]) VALUES (2, 1, 2, 39)
INSERT [dbo].[Kho_Do_An] ([id], [rap_id], [Do_An_id], [so_luong_ton]) VALUES (3, 1, 3, 10)
SET IDENTITY_INSERT [dbo].[Kho_Do_An] OFF
GO
SET IDENTITY_INSERT [dbo].[Khuyen_Mai] ON 

INSERT [dbo].[Khuyen_Mai] ([ma_giam_gia_id], [loai_giam_gia], [gia_tri_giam], [ngay_bat_dau], [ngay_ket_thuc], [trang_thai], [so_luong_ban_dau], [so_luong_con_lai], [mo_ta], [ma_khuyen_mai], [pham_vi_ap_dung]) VALUES (1, N'Giảm 10%', CAST(10.00 AS Decimal(10, 2)), CAST(N'2025-10-01' AS Date), CAST(N'2025-10-31' AS Date), N'Hoạt động', 100, 101, N'Khuyến mãi tháng 12', N'KM001', 0)
INSERT [dbo].[Khuyen_Mai] ([ma_giam_gia_id], [loai_giam_gia], [gia_tri_giam], [ngay_bat_dau], [ngay_ket_thuc], [trang_thai], [so_luong_ban_dau], [so_luong_con_lai], [mo_ta], [ma_khuyen_mai], [pham_vi_ap_dung]) VALUES (3, N'Giảm 15%', CAST(15.00 AS Decimal(10, 2)), CAST(N'2025-10-01' AS Date), CAST(N'2035-10-31' AS Date), N'Hoạt động', 1000000, 999984, N'Khuyến mãi dành cho thành viên VIP', N'KM003', 0)
INSERT [dbo].[Khuyen_Mai] ([ma_giam_gia_id], [loai_giam_gia], [gia_tri_giam], [ngay_bat_dau], [ngay_ket_thuc], [trang_thai], [so_luong_ban_dau], [so_luong_con_lai], [mo_ta], [ma_khuyen_mai], [pham_vi_ap_dung]) VALUES (4, N'Giảm 15%', CAST(15.00 AS Decimal(10, 2)), CAST(N'2025-10-01' AS Date), CAST(N'2035-10-31' AS Date), N'Hoạt động', 1000000, 999990, N'Khuyến mãi khi mua combo bất kỳ', N'KM004', 0)
SET IDENTITY_INSERT [dbo].[Khuyen_Mai] OFF
GO
SET IDENTITY_INSERT [dbo].[Khuyen_Mai_Do_An] ON 

INSERT [dbo].[Khuyen_Mai_Do_An] ([id], [ma_giam_gia_id], [do_an_id]) VALUES (2, 6, 1)
INSERT [dbo].[Khuyen_Mai_Do_An] ([id], [ma_giam_gia_id], [do_an_id]) VALUES (3, 7, 1)
INSERT [dbo].[Khuyen_Mai_Do_An] ([id], [ma_giam_gia_id], [do_an_id]) VALUES (4, 7, 2)
SET IDENTITY_INSERT [dbo].[Khuyen_Mai_Do_An] OFF
GO
SET IDENTITY_INSERT [dbo].[Loai_Ghe] ON 

INSERT [dbo].[Loai_Ghe] ([loaighe_id], [ten_loai], [phu_phi]) VALUES (1, N'Standard', CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[Loai_Ghe] ([loaighe_id], [ten_loai], [phu_phi]) VALUES (2, N'VIP', CAST(20.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Loai_Ghe] OFF
GO
SET IDENTITY_INSERT [dbo].[Loai_Ngay] ON 

INSERT [dbo].[Loai_Ngay] ([loai_ngay_id], [loai_ngay], [phu_phi]) VALUES (1, N'Ngày thường', CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[Loai_Ngay] ([loai_ngay_id], [loai_ngay], [phu_phi]) VALUES (2, N'Cuối tuần', CAST(20.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Loai_Ngay] OFF
GO
SET IDENTITY_INSERT [dbo].[Loai_Phim] ON 

INSERT [dbo].[Loai_Phim] ([loaiphim_id], [ten_loai], [mo_ta]) VALUES (1, N'Hành động', NULL)
INSERT [dbo].[Loai_Phim] ([loaiphim_id], [ten_loai], [mo_ta]) VALUES (2, N'Kinh dị', NULL)
INSERT [dbo].[Loai_Phim] ([loaiphim_id], [ten_loai], [mo_ta]) VALUES (3, N'Khoa học viễn tưởng', NULL)
SET IDENTITY_INSERT [dbo].[Loai_Phim] OFF
GO
SET IDENTITY_INSERT [dbo].[Nha_Cung_Cap] ON 

INSERT [dbo].[Nha_Cung_Cap] ([id], [ten_nha_cung_cap], [so_dien_thoai], [email], [dia_chi], [trang_thai]) VALUES (1, N'Coca-Cola Việt Nam', N'02838961000', N'ncc01@gmail.com', N'Xa lộ Hà Nội, Thủ Đức', N'Hoạt động')
INSERT [dbo].[Nha_Cung_Cap] ([id], [ten_nha_cung_cap], [so_dien_thoai], [email], [dia_chi], [trang_thai]) VALUES (2, N'Công ty CP Bắp Ngô Mỹ', N'0909123456', N'ncc02@gmail.com', N'Quận 1, TP.HCM', N'Hoạt động')
INSERT [dbo].[Nha_Cung_Cap] ([id], [ten_nha_cung_cap], [so_dien_thoai], [email], [dia_chi], [trang_thai]) VALUES (3, N'Kho Bánh Kẹo Kinh Đô', N'02837555555', N'ncc03@gmail.com', N'KCN Tân Tạo', N'Hoạt động')
SET IDENTITY_INSERT [dbo].[Nha_Cung_Cap] OFF
GO
SET IDENTITY_INSERT [dbo].[Nha_San_Xuat] ON 

INSERT [dbo].[Nha_San_Xuat] ([nha_san_xuat_id], [ten_nha_san_xuat], [quoc_gia]) VALUES (1, N'Warner Bros.', N'Mỹ')
INSERT [dbo].[Nha_San_Xuat] ([nha_san_xuat_id], [ten_nha_san_xuat], [quoc_gia]) VALUES (2, N'Castle Rock Entertainment', N'Mỹ')
INSERT [dbo].[Nha_San_Xuat] ([nha_san_xuat_id], [ten_nha_san_xuat], [quoc_gia]) VALUES (3, N'Paramount Pictures, Alfran Productions', N'Mỹ')
SET IDENTITY_INSERT [dbo].[Nha_San_Xuat] OFF
GO
SET IDENTITY_INSERT [dbo].[Nhan_Vien] ON 

INSERT [dbo].[Nhan_Vien] ([nhanvien_id], [ho_ten], [ngay_sinh], [gioi_tinh], [so_dien_thoai], [email], [dia_chi], [role_id], [ngay_vao_lam], [trang_thai], [mat_khau], [rap_id]) VALUES (1, N'Nguyễn Văn Quản Trị', NULL, N'Nam', N'0933445566', N'admin@galaxy.example', NULL, 1, CAST(N'2025-11-04' AS Date), N'Hoạt động', N'240be518fabd2724ddb6f04eeb1da5967448d7e831c08c8fa822809f74c720a9', NULL)
INSERT [dbo].[Nhan_Vien] ([nhanvien_id], [ho_ten], [ngay_sinh], [gioi_tinh], [so_dien_thoai], [email], [dia_chi], [role_id], [ngay_vao_lam], [trang_thai], [mat_khau], [rap_id]) VALUES (5, N'Phạm Long Vũ', NULL, N'Nam', N'0941223344', N'vu@gmail.com', NULL, 2, CAST(N'2025-11-12' AS Date), N'Hoạt động', N'240be518fabd2724ddb6f04eeb1da5967448d7e831c08c8fa822809f74c720a9', 1)
INSERT [dbo].[Nhan_Vien] ([nhanvien_id], [ho_ten], [ngay_sinh], [gioi_tinh], [so_dien_thoai], [email], [dia_chi], [role_id], [ngay_vao_lam], [trang_thai], [mat_khau], [rap_id]) VALUES (6, N'Nguyễn Thành Đạt', CAST(N'2004-04-30' AS Date), N'Nam', N'0388041800', N'dat@gmail.com', N'TP.HCM', 2, CAST(N'2025-11-21' AS Date), N'Hoạt động', N'240be518fabd2724ddb6f04eeb1da5967448d7e831c08c8fa822809f74c720a9', 2)
SET IDENTITY_INSERT [dbo].[Nhan_Vien] OFF
GO
SET IDENTITY_INSERT [dbo].[Phieu_De_Xuat_Khuyen_Mai] ON 

INSERT [dbo].[Phieu_De_Xuat_Khuyen_Mai] ([de_xuat_id], [nhan_vien_id], [rap_id], [muc_giam_gia], [so_luong_ton], [ly_do], [trang_thai], [ngay_tao], [ngay_duyet], [ghi_chu_quan_ly]) VALUES (1, 5, 1, 20, 20, N'Đề xuất xả hàng tồn kho (Số lượng > 20).', N'Chờ duyệt', CAST(N'2025-11-30T11:02:04.680' AS DateTime), NULL, NULL)
INSERT [dbo].[Phieu_De_Xuat_Khuyen_Mai] ([de_xuat_id], [nhan_vien_id], [rap_id], [muc_giam_gia], [so_luong_ton], [ly_do], [trang_thai], [ngay_tao], [ngay_duyet], [ghi_chu_quan_ly]) VALUES (2, 5, 1, 20, 20, N'Đề xuất xả hàng tồn kho (Số lượng > 20).', N'Đã duyệt', CAST(N'2025-11-30T11:06:56.090' AS DateTime), CAST(N'2025-11-30T11:43:54.083' AS DateTime), N'Đã duyệt bởi Nguyễn Văn Quản Trị')
INSERT [dbo].[Phieu_De_Xuat_Khuyen_Mai] ([de_xuat_id], [nhan_vien_id], [rap_id], [muc_giam_gia], [so_luong_ton], [ly_do], [trang_thai], [ngay_tao], [ngay_duyet], [ghi_chu_quan_ly]) VALUES (3, 5, 1, 20, 20, N'Đề xuất xả hàng tồn kho (Số lượng > 20).', N'Đã duyệt', CAST(N'2025-11-30T11:20:00.160' AS DateTime), CAST(N'2025-11-30T11:35:10.970' AS DateTime), N'Đã duyệt bởi Nguyễn Văn Quản Trị')
SET IDENTITY_INSERT [dbo].[Phieu_De_Xuat_Khuyen_Mai] OFF
GO
SET IDENTITY_INSERT [dbo].[Phieu_Nhap] ON 

INSERT [dbo].[Phieu_Nhap] ([phieu_nhap_id], [nhan_vien_id], [rap_id], [ngay_nhap], [ghi_chu], [trang_thai], [nha_cung_cap_id]) VALUES (1, 5, 1, CAST(N'2025-11-25T15:46:03.920' AS DateTime), N'nnnn', N'Đã nhập', NULL)
INSERT [dbo].[Phieu_Nhap] ([phieu_nhap_id], [nhan_vien_id], [rap_id], [ngay_nhap], [ghi_chu], [trang_thai], [nha_cung_cap_id]) VALUES (2, 1, 1, CAST(N'2025-11-30T10:11:19.623' AS DateTime), N'', N'Đã nhập', NULL)
INSERT [dbo].[Phieu_Nhap] ([phieu_nhap_id], [nhan_vien_id], [rap_id], [ngay_nhap], [ghi_chu], [trang_thai], [nha_cung_cap_id]) VALUES (3, 6, 2, CAST(N'2025-11-26T08:17:58.800' AS DateTime), N'', N'Đã nhập', NULL)
SET IDENTITY_INSERT [dbo].[Phieu_Nhap] OFF
GO
SET IDENTITY_INSERT [dbo].[Phim] ON 

INSERT [dbo].[Phim] ([phim_id], [ten_phim], [dao_dien_id], [nha_san_xuat_id], [thoi_luong], [mo_ta], [hinh_anh], [video], [ngay_khoi_chieu], [trang_thai]) VALUES (2, N'The Shawshank Redemption', 2, 2, 142, N'', N'https://image.tmdb.org/t/p/original/36ewyr1LdwwedDQhrlmhsi1nlnc.jpg', N'https://youtu.be/PLl99DlL6b4', CAST(N'1994-09-23' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[Phim] OFF
GO
INSERT [dbo].[Phim_LoaiPhim] ([phim_id], [loaiphim_id]) VALUES (1, 1)
INSERT [dbo].[Phim_LoaiPhim] ([phim_id], [loaiphim_id]) VALUES (2, 1)
INSERT [dbo].[Phim_LoaiPhim] ([phim_id], [loaiphim_id]) VALUES (2, 4)
GO
SET IDENTITY_INSERT [dbo].[Phong_Chieu] ON 

INSERT [dbo].[Phong_Chieu] ([phong_chieu_id], [rap_id], [ten_phong], [so_hang], [so_cot], [suc_chua]) VALUES (2, 1, N'Phòng 2', 10, 10, 100)
INSERT [dbo].[Phong_Chieu] ([phong_chieu_id], [rap_id], [ten_phong], [so_hang], [so_cot], [suc_chua]) VALUES (3, 1, N'Phòng 3', 10, 10, 78)
INSERT [dbo].[Phong_Chieu] ([phong_chieu_id], [rap_id], [ten_phong], [so_hang], [so_cot], [suc_chua]) VALUES (4, 2, N'Phòng 1', 10, 10, 64)
SET IDENTITY_INSERT [dbo].[Phong_Chieu] OFF
GO
SET IDENTITY_INSERT [dbo].[Rap] ON 

INSERT [dbo].[Rap] ([rap_id], [ten_rap], [dia_chi], [email], [mo_ta]) VALUES (1, N'DAV Cinemax Trung Tâm', N'123 Ðường A, Quận 1, TP.HCM', N'daianh2k00@gmail.com', N'Rạp chi nhánh Thành phố Hồ Chí Minh')
INSERT [dbo].[Rap] ([rap_id], [ten_rap], [dia_chi], [email], [mo_ta]) VALUES (2, N'DAV Cinemax Đồng Tháp', N'167 Quốc Lộ 50, Đồng Tháp', N'daianh2k00@gmail.com', N'Rạp chi nhánh Đồng Tháp')
INSERT [dbo].[Rap] ([rap_id], [ten_rap], [dia_chi], [email], [mo_ta]) VALUES (3, N'DAV Cinemax Cần Thơ', N'123 Quốc lộ 1A, Thành phố Cần Thơ', N'daianh2k00@gmail.com', N'Rạp chi nhánh Cần Thơ')
SET IDENTITY_INSERT [dbo].[Rap] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([role_id], [ten_role]) VALUES (1, N'admin')
INSERT [dbo].[Role] ([role_id], [ten_role]) VALUES (2, N'staff')
INSERT [dbo].[Role] ([role_id], [ten_role]) VALUES (3, N'customer')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Suat_Chieu] ON 

INSERT [dbo].[Suat_Chieu] ([suat_chieu_id], [phim_id], [phong_chieu_id], [ca_chieu_id], [ngay_chieu], [loai_ngay_id], [ngon_ngu], [gia_ve], [trang_thai]) VALUES (4, 3, 2, 2, CAST(N'2025-11-12' AS Date), 1, N'Vietsub', CAST(80000.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[Suat_Chieu] ([suat_chieu_id], [phim_id], [phong_chieu_id], [ca_chieu_id], [ngay_chieu], [loai_ngay_id], [ngon_ngu], [gia_ve], [trang_thai]) VALUES (7, 9, 4, 2, CAST(N'2025-11-14' AS Date), 1, N'Vietsub', CAST(90000.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[Suat_Chieu] ([suat_chieu_id], [phim_id], [phong_chieu_id], [ca_chieu_id], [ngay_chieu], [loai_ngay_id], [ngon_ngu], [gia_ve], [trang_thai]) VALUES (10, 5, 3, 4, CAST(N'2025-11-19' AS Date), 1, N'Thuyết Minh', CAST(70000.00 AS Decimal(10, 2)), NULL)
SET IDENTITY_INSERT [dbo].[Suat_Chieu] OFF
GO
SET IDENTITY_INSERT [dbo].[Vai_Dien] ON 

INSERT [dbo].[Vai_Dien] ([id], [dien_vien_id], [phim_id], [ten_vai_dien], [hinh_anh], [mo_ta]) VALUES (54, 2, 3, N'Vai chính', NULL, NULL)
INSERT [dbo].[Vai_Dien] ([id], [dien_vien_id], [phim_id], [ten_vai_dien], [hinh_anh], [mo_ta]) VALUES (76, 9, 12, N'Vai chính', NULL, NULL)
INSERT [dbo].[Vai_Dien] ([id], [dien_vien_id], [phim_id], [ten_vai_dien], [hinh_anh], [mo_ta]) VALUES (78, 15, 16, N'Vai chính', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Vai_Dien] OFF
GO
SET IDENTITY_INSERT [dbo].[Ve] ON 

INSERT [dbo].[Ve] ([ve_id], [ghe_id], [Dat_Ve_id], [suat_chieu_id], [ma_qr_code], [trang_thai_ve], [gia_ve], [trang_thai_thanh_toan]) VALUES (6, 2, NULL, 4, N'QR638979582341128641_0_2_0', N'Đã hết hạn', CAST(80000.00 AS Decimal(10, 2)), N'Chưa thanh toán')
INSERT [dbo].[Ve] ([ve_id], [ghe_id], [Dat_Ve_id], [suat_chieu_id], [ma_qr_code], [trang_thai_ve], [gia_ve], [trang_thai_thanh_toan]) VALUES (7, 3, NULL, 4, N'QR638979582341152027_0_3_1', N'Đã hết hạn', CAST(80000.00 AS Decimal(10, 2)), N'Chưa thanh toán')
INSERT [dbo].[Ve] ([ve_id], [ghe_id], [Dat_Ve_id], [suat_chieu_id], [ma_qr_code], [trang_thai_ve], [gia_ve], [trang_thai_thanh_toan]) VALUES (8, 4, NULL, 4, N'DAVCINEMA-10-8-638979812096035866', N'Đã hết hạn', CAST(80000.00 AS Decimal(10, 2)), N'Chưa thanh toán')
GO
SET IDENTITY_INSERT [dbo].[Ve] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Ve_MaQRCode]    Script Date: 01-12-2025 5:35:34 CH ******/
ALTER TABLE [dbo].[Ve] ADD  CONSTRAINT [UQ_Ve_MaQRCode] UNIQUE NONCLUSTERED 
(
	[ma_qr_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Ve_MaQRCode_Filtered]    Script Date: 01-12-2025 5:35:34 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Ve_MaQRCode_Filtered] ON [dbo].[Ve]
(
	[ma_qr_code] ASC
)
WHERE ([ma_qr_code] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Danh_Gia] ADD  DEFAULT (getdate()) FOR [ngay_Danh_Gia]
GO
ALTER TABLE [dbo].[Dat_Ve] ADD  DEFAULT (getdate()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[HuyVe] ADD  DEFAULT ('Ch? duy?t') FOR [trang_thai]
GO
ALTER TABLE [dbo].[HuyVe] ADD  DEFAULT (getdate()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[Khach_Hang] ADD  DEFAULT (getdate()) FOR [ngay_dang_ky]
GO
ALTER TABLE [dbo].[Khach_Hang] ADD  DEFAULT ((0)) FOR [diem_tich_luy]
GO
ALTER TABLE [dbo].[Kho_Do_An] ADD  DEFAULT ((0)) FOR [so_luong_ton]
GO
ALTER TABLE [dbo].[Khuyen_Mai] ADD  DEFAULT ((0)) FOR [pham_vi_ap_dung]
GO
ALTER TABLE [dbo].[Nha_Cung_Cap] ADD  DEFAULT (N'Hoạt động') FOR [trang_thai]
GO
ALTER TABLE [dbo].[Phieu_De_Xuat_Khuyen_Mai] ADD  DEFAULT (N'Chờ duyệt') FOR [trang_thai]
GO
ALTER TABLE [dbo].[Phieu_De_Xuat_Khuyen_Mai] ADD  DEFAULT (getdate()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[Phieu_Nhap] ADD  DEFAULT (getdate()) FOR [ngay_nhap]
GO
ALTER TABLE [dbo].[Ve] ADD  DEFAULT (N'Chưa thanh toán') FOR [trang_thai_thanh_toan]
GO
ALTER TABLE [dbo].[Chi_Tiet_De_Xuat_Khuyen_Mai]  WITH CHECK ADD  CONSTRAINT [FK_CTDX_DoAn] FOREIGN KEY([do_an_id])
REFERENCES [dbo].[Do_An] ([Do_An_id])
GO
ALTER TABLE [dbo].[Chi_Tiet_De_Xuat_Khuyen_Mai] CHECK CONSTRAINT [FK_CTDX_DoAn]
GO
ALTER TABLE [dbo].[Chi_Tiet_De_Xuat_Khuyen_Mai]  WITH CHECK ADD  CONSTRAINT [FK_CTDX_DX] FOREIGN KEY([de_xuat_id])
REFERENCES [dbo].[Phieu_De_Xuat_Khuyen_Mai] ([de_xuat_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Chi_Tiet_De_Xuat_Khuyen_Mai] CHECK CONSTRAINT [FK_CTDX_DX]
GO
ALTER TABLE [dbo].[Chi_Tiet_Phieu_Nhap]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_DoAn] FOREIGN KEY([do_an_id])
REFERENCES [dbo].[Do_An] ([Do_An_id])
GO
ALTER TABLE [dbo].[Chi_Tiet_Phieu_Nhap] CHECK CONSTRAINT [FK_CTPN_DoAn]
GO
ALTER TABLE [dbo].[Chi_Tiet_Phieu_Nhap]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_PhieuNhap] FOREIGN KEY([phieu_nhap_id])
REFERENCES [dbo].[Phieu_Nhap] ([phieu_nhap_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Chi_Tiet_Phieu_Nhap] CHECK CONSTRAINT [FK_CTPN_PhieuNhap]
GO
ALTER TABLE [dbo].[Danh_Gia]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_KhachHang] FOREIGN KEY([khach_hang_id])
REFERENCES [dbo].[Khach_Hang] ([khach_hang_id])
GO
ALTER TABLE [dbo].[Danh_Gia] CHECK CONSTRAINT [FK_DanhGia_KhachHang]
GO
ALTER TABLE [dbo].[Danh_Gia]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_Phim] FOREIGN KEY([phim_id])
REFERENCES [dbo].[Phim] ([phim_id])
GO
ALTER TABLE [dbo].[Danh_Gia] CHECK CONSTRAINT [FK_DanhGia_Phim]
GO
ALTER TABLE [dbo].[Danh_Gia]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_Ve] FOREIGN KEY([ve_id])
REFERENCES [dbo].[Ve] ([ve_id])
GO
ALTER TABLE [dbo].[Danh_Gia] CHECK CONSTRAINT [FK_DanhGia_Ve]
GO
ALTER TABLE [dbo].[Dat_Ve]  WITH CHECK ADD  CONSTRAINT [FK_DatVe_KhachHang] FOREIGN KEY([khach_hang_id])
REFERENCES [dbo].[Khach_Hang] ([khach_hang_id])
GO
ALTER TABLE [dbo].[Dat_Ve] CHECK CONSTRAINT [FK_DatVe_KhachHang]
GO
ALTER TABLE [dbo].[Dat_Ve]  WITH CHECK ADD  CONSTRAINT [FK_DatVe_KhuyenMai] FOREIGN KEY([ma_giam_gia_id])
REFERENCES [dbo].[Khuyen_Mai] ([ma_giam_gia_id])
GO
ALTER TABLE [dbo].[Dat_Ve] CHECK CONSTRAINT [FK_DatVe_KhuyenMai]
GO
ALTER TABLE [dbo].[Dat_Ve]  WITH CHECK ADD  CONSTRAINT [FK_DatVe_NhanVien] FOREIGN KEY([nhan_vien_id])
REFERENCES [dbo].[Nhan_Vien] ([nhanvien_id])
GO
ALTER TABLE [dbo].[Dat_Ve] CHECK CONSTRAINT [FK_DatVe_NhanVien]
GO
ALTER TABLE [dbo].[DonHang_DoAn]  WITH CHECK ADD  CONSTRAINT [FK_DonHangDoAn_DatVe] FOREIGN KEY([Dat_Ve_id])
REFERENCES [dbo].[Dat_Ve] ([Dat_Ve_id])
GO
ALTER TABLE [dbo].[DonHang_DoAn] CHECK CONSTRAINT [FK_DonHangDoAn_DatVe]
GO
ALTER TABLE [dbo].[DonHang_DoAn]  WITH CHECK ADD  CONSTRAINT [FK_DonHangDoAn_DoAn] FOREIGN KEY([Do_An_id])
REFERENCES [dbo].[Do_An] ([Do_An_id])
GO
ALTER TABLE [dbo].[DonHang_DoAn] CHECK CONSTRAINT [FK_DonHangDoAn_DoAn]
GO
ALTER TABLE [dbo].[Ghe]  WITH CHECK ADD  CONSTRAINT [FK_Ghe_LoaiGhe] FOREIGN KEY([loai_ghe_id])
REFERENCES [dbo].[Loai_Ghe] ([loaighe_id])
GO
ALTER TABLE [dbo].[Ghe] CHECK CONSTRAINT [FK_Ghe_LoaiGhe]
GO
ALTER TABLE [dbo].[Ghe]  WITH CHECK ADD  CONSTRAINT [FK_Ghe_PhongChieu] FOREIGN KEY([phong_chieu_id])
REFERENCES [dbo].[Phong_Chieu] ([phong_chieu_id])
GO
ALTER TABLE [dbo].[Ghe] CHECK CONSTRAINT [FK_Ghe_PhongChieu]
GO
ALTER TABLE [dbo].[HuyVe]  WITH CHECK ADD FOREIGN KEY([admin_duyet_id])
REFERENCES [dbo].[Nhan_Vien] ([nhanvien_id])
GO
ALTER TABLE [dbo].[HuyVe]  WITH CHECK ADD FOREIGN KEY([dat_ve_id])
REFERENCES [dbo].[Dat_Ve] ([Dat_Ve_id])
GO
ALTER TABLE [dbo].[Kho_Do_An]  WITH CHECK ADD  CONSTRAINT [FK_Kho_Do_An_Do_An] FOREIGN KEY([Do_An_id])
REFERENCES [dbo].[Do_An] ([Do_An_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Kho_Do_An] CHECK CONSTRAINT [FK_Kho_Do_An_Do_An]
GO
ALTER TABLE [dbo].[Kho_Do_An]  WITH CHECK ADD  CONSTRAINT [FK_Kho_Do_An_Rap] FOREIGN KEY([rap_id])
REFERENCES [dbo].[Rap] ([rap_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Kho_Do_An] CHECK CONSTRAINT [FK_Kho_Do_An_Rap]
GO
ALTER TABLE [dbo].[Khuyen_Mai_Do_An]  WITH CHECK ADD  CONSTRAINT [FK_KMDA_DoAn] FOREIGN KEY([do_an_id])
REFERENCES [dbo].[Do_An] ([Do_An_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Khuyen_Mai_Do_An] CHECK CONSTRAINT [FK_KMDA_DoAn]
GO
ALTER TABLE [dbo].[Khuyen_Mai_Do_An]  WITH CHECK ADD  CONSTRAINT [FK_KMDA_KhuyenMai] FOREIGN KEY([ma_giam_gia_id])
REFERENCES [dbo].[Khuyen_Mai] ([ma_giam_gia_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Khuyen_Mai_Do_An] CHECK CONSTRAINT [FK_KMDA_KhuyenMai]
GO
ALTER TABLE [dbo].[Nhan_Vien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_Rap] FOREIGN KEY([rap_id])
REFERENCES [dbo].[Rap] ([rap_id])
GO
ALTER TABLE [dbo].[Nhan_Vien] CHECK CONSTRAINT [FK_NhanVien_Rap]
GO
ALTER TABLE [dbo].[Nhan_Vien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_Role] FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([role_id])
GO
ALTER TABLE [dbo].[Nhan_Vien] CHECK CONSTRAINT [FK_NhanVien_Role]
GO
ALTER TABLE [dbo].[Phieu_De_Xuat_Khuyen_Mai]  WITH CHECK ADD  CONSTRAINT [FK_DX_NV] FOREIGN KEY([nhan_vien_id])
REFERENCES [dbo].[Nhan_Vien] ([nhanvien_id])
GO
ALTER TABLE [dbo].[Phieu_De_Xuat_Khuyen_Mai] CHECK CONSTRAINT [FK_DX_NV]
GO
ALTER TABLE [dbo].[Phieu_De_Xuat_Khuyen_Mai]  WITH CHECK ADD  CONSTRAINT [FK_DX_Rap] FOREIGN KEY([rap_id])
REFERENCES [dbo].[Rap] ([rap_id])
GO
ALTER TABLE [dbo].[Phieu_De_Xuat_Khuyen_Mai] CHECK CONSTRAINT [FK_DX_Rap]
GO
ALTER TABLE [dbo].[Phieu_Nhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_NhaCungCap] FOREIGN KEY([nha_cung_cap_id])
REFERENCES [dbo].[Nha_Cung_Cap] ([id])
GO
ALTER TABLE [dbo].[Phieu_Nhap] CHECK CONSTRAINT [FK_PhieuNhap_NhaCungCap]
GO
ALTER TABLE [dbo].[Phieu_Nhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_NhanVien] FOREIGN KEY([nhan_vien_id])
REFERENCES [dbo].[Nhan_Vien] ([nhanvien_id])
GO
ALTER TABLE [dbo].[Phieu_Nhap] CHECK CONSTRAINT [FK_PhieuNhap_NhanVien]
GO
ALTER TABLE [dbo].[Phieu_Nhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_Rap] FOREIGN KEY([rap_id])
REFERENCES [dbo].[Rap] ([rap_id])
GO
ALTER TABLE [dbo].[Phieu_Nhap] CHECK CONSTRAINT [FK_PhieuNhap_Rap]
GO
ALTER TABLE [dbo].[Phim]  WITH CHECK ADD  CONSTRAINT [FK_Phim_DaoDien] FOREIGN KEY([dao_dien_id])
REFERENCES [dbo].[Dao_Dien] ([daodien_id])
GO
ALTER TABLE [dbo].[Phim] CHECK CONSTRAINT [FK_Phim_DaoDien]
GO
ALTER TABLE [dbo].[Phim]  WITH CHECK ADD  CONSTRAINT [FK_Phim_NhaSanXuat] FOREIGN KEY([nha_san_xuat_id])
REFERENCES [dbo].[Nha_San_Xuat] ([nha_san_xuat_id])
GO
ALTER TABLE [dbo].[Phim] CHECK CONSTRAINT [FK_Phim_NhaSanXuat]
GO
ALTER TABLE [dbo].[Phim_LoaiPhim]  WITH CHECK ADD  CONSTRAINT [FK_PL_LoaiPhim] FOREIGN KEY([loaiphim_id])
REFERENCES [dbo].[Loai_Phim] ([loaiphim_id])
GO
ALTER TABLE [dbo].[Phim_LoaiPhim] CHECK CONSTRAINT [FK_PL_LoaiPhim]
GO
ALTER TABLE [dbo].[Phim_LoaiPhim]  WITH CHECK ADD  CONSTRAINT [FK_PL_Phim] FOREIGN KEY([phim_id])
REFERENCES [dbo].[Phim] ([phim_id])
GO
ALTER TABLE [dbo].[Phim_LoaiPhim] CHECK CONSTRAINT [FK_PL_Phim]
GO
ALTER TABLE [dbo].[Phong_Chieu]  WITH CHECK ADD  CONSTRAINT [FK_PhongChieu_Rap] FOREIGN KEY([rap_id])
REFERENCES [dbo].[Rap] ([rap_id])
GO
ALTER TABLE [dbo].[Phong_Chieu] CHECK CONSTRAINT [FK_PhongChieu_Rap]
GO
ALTER TABLE [dbo].[Suat_Chieu]  WITH CHECK ADD  CONSTRAINT [FK_SuatChieu_CaChieu] FOREIGN KEY([ca_chieu_id])
REFERENCES [dbo].[Ca_Chieu] ([ca_chieu_id])
GO
ALTER TABLE [dbo].[Suat_Chieu] CHECK CONSTRAINT [FK_SuatChieu_CaChieu]
GO
ALTER TABLE [dbo].[Suat_Chieu]  WITH CHECK ADD  CONSTRAINT [FK_SuatChieu_LoaiNgay] FOREIGN KEY([loai_ngay_id])
REFERENCES [dbo].[Loai_Ngay] ([loai_ngay_id])
GO
ALTER TABLE [dbo].[Suat_Chieu] CHECK CONSTRAINT [FK_SuatChieu_LoaiNgay]
GO
ALTER TABLE [dbo].[Suat_Chieu]  WITH CHECK ADD  CONSTRAINT [FK_SuatChieu_Phim] FOREIGN KEY([phim_id])
REFERENCES [dbo].[Phim] ([phim_id])
GO
ALTER TABLE [dbo].[Suat_Chieu] CHECK CONSTRAINT [FK_SuatChieu_Phim]
GO
ALTER TABLE [dbo].[Suat_Chieu]  WITH CHECK ADD  CONSTRAINT [FK_SuatChieu_PhongChieu] FOREIGN KEY([phong_chieu_id])
REFERENCES [dbo].[Phong_Chieu] ([phong_chieu_id])
GO
ALTER TABLE [dbo].[Suat_Chieu] CHECK CONSTRAINT [FK_SuatChieu_PhongChieu]
GO
ALTER TABLE [dbo].[Vai_Dien]  WITH CHECK ADD  CONSTRAINT [FK_VaiDien_DienVien] FOREIGN KEY([dien_vien_id])
REFERENCES [dbo].[Dien_Vien] ([dienvien_id])
GO
ALTER TABLE [dbo].[Vai_Dien] CHECK CONSTRAINT [FK_VaiDien_DienVien]
GO
ALTER TABLE [dbo].[Vai_Dien]  WITH CHECK ADD  CONSTRAINT [FK_VaiDien_Phim] FOREIGN KEY([phim_id])
REFERENCES [dbo].[Phim] ([phim_id])
GO
ALTER TABLE [dbo].[Vai_Dien] CHECK CONSTRAINT [FK_VaiDien_Phim]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_DatVe] FOREIGN KEY([Dat_Ve_id])
REFERENCES [dbo].[Dat_Ve] ([Dat_Ve_id])
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_DatVe]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_Ghe] FOREIGN KEY([ghe_id])
REFERENCES [dbo].[Ghe] ([ghe_id])
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_Ghe]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_SuatChieu] FOREIGN KEY([suat_chieu_id])
REFERENCES [dbo].[Suat_Chieu] ([suat_chieu_id])
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_SuatChieu]
GO
USE [master]
GO
